<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>Checkout</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Start Main Top -->
    <div th:replace="~{fragments::main-top}">
    </div>
    <!-- End Main Top -->


    <!-- Start Main Top -->
    <header th:replace="~{fragments::main-header}">
        <!-- Start Navigation -->
        <!-- End Navigation -->
    </header>
    <!-- End Main Top -->

    <!-- Start Top Search -->
    <div th:replace="~{fragments::top-search}">
    </div>
    <!-- End Top Search -->

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Checkout</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="home.html">Home</a></li>
                        <li class="breadcrumb-item active"> Checkout</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Cart  -->
    <div class="cart-box-main">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-6 mb-3">
                    <div class="checkout-address">
                        <div class="title-left">
                            <h3>Billing address</h3>
                        </div>
                        <div class="mb-3">
                            <label for="username">Username *</label>
                            <p th:text="${customer.username}" id="username">
                        </div>
                        <div class="mb-3">
                            <label for="phone">Phone Number *</label>
                            <p id="phone" th:text="${customer.phoneNumber}">
                        </div>
                        <div class="mb-3">
                            <label for="address">Address *</label>
                            <p th:text="${customer.address + ' ' + customer.city + ' ' + customer.country}" id="address">
                        </div>
                        <hr class="mb-4">
                        <hr class="mb-4">
                        <div class="title"><span>Payment Methods</span></div>
                        <div class="d-block my-3">
                            <div class="custom-control custom-radio">
                                <input id="debit" name="paymentMethod" type="radio" class="custom-control-input"
                                       required>
                                <label class="custom-control-label" for="debit">Cash</label>
                            </div>
                        </div>
                        <hr class="mb-1">
                    </div>
                </div>
                <div class="col-sm-6 col-lg-6 mb-3">
                    <div class="col-md-12 col-lg-12">
                        <div class="odr-box">
                            <div class="title-left">
                                <h3>Shopping cart</h3>
                            </div>
                            <div class="rounded p-2 bg-light">
                                <div class="media mb-2 border-bottom" th:each="item : ${cart.cartItem}">
                                    <div class="media-body"><a href="product-detail.html"
                                                               th:text="${item.product.name}"> </a>
                                        <div class="small text-muted">Price: $[[${item.product.costPrice}]] <span
                                                class="mx-2">|</span> Qty: [[${item.quantity}]] <span
                                                class="mx-2">|</span> Subtotal: $[[${item.product.costPrice} * ${item.quantity}]]
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12">
                        <div class="order-box">
                            <div class="title-left">
                                <h2><b>Your order</b></h2>
                            </div>
                            <div class="d-flex">
                                <div class="font-weight-bold">Product</div>
                                <div class="ml-auto font-weight-bold">Total</div>
                            </div>
                            <hr class="my-1">
                            <div class="d-flex">
                                <h4>Sub Total</h4>
                                <div class="ml-auto font-weight-bold" th:text="${ '$' + cart.totalPrices}"></div>
                            </div>
                            <div class="d-flex">
                                <h4>Discount</h4>
                                <div class="ml-auto font-weight-bold"> $0</div>
                            </div>
                            <hr class="my-1">
                            <div class="d-flex">
                                <h4>Tax</h4>
                                <div class="ml-auto font-weight-bold"> $2</div>
                            </div>
                            <div class="d-flex">
                                <h4>Shipping Cost</h4>
                                <div class="ml-auto font-weight-bold"> Free</div>
                            </div>
                            <hr>
                            <div class="d-flex gr-total">
                                <h5>Grand Total</h5>
                                <div class="ml-auto h5" th:text=" '$' + ${cart.totalPrices + 2}"></div>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="col-12 d-flex shopping-box"><a th:href="@{/order}" class="ml-auto btn hvr-hover">Place Order</a></div>
                </div>
            </div>
        </div>
    </div>

    <!-- End Cart -->

    <!-- Start Feed  -->
    <div class="instagram-box">
        <div class="main-instagram owl-carousel owl-theme">
            <div class="item">
                <div class="ins-inner-box">
                    <a href="index.html"><img src="images/partner1.jpg" alt="" /></a>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/partner4.jpg" alt="" />
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <a href="index.html"><img src="images/partner2.jpg" alt="" /></a>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <a href="index.html"><img src="images/partner3.jpg" alt="" /></a>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <a href="index.html"><img src="images/partner5.jpg" alt="" /></a>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <a href="index.html"><img src="images/partner6.jpg" alt="" /></a>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <a href="index.html"><img src="images/partner4.jpg" alt="" /></a>
                </div>
            </div>
        </div>
    </div>

    <!-- End Feed  -->


    <!-- Start Footer  -->
    <footer th:replace="~{fragments::footer}">
    </footer>

    <!-- ALL JS FILES -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="js/jquery.superslides.min.js"></script>
    <script src="js/bootstrap-select.js"></script>
    <script src="js/inewsticker.js"></script>
    <script src="js/bootsnav.js."></script>
    <script src="js/images-loded.min.js"></script>
    <script src="js/isotope.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/baguetteBox.min.js"></script>
    <script src="js/form-validator.min.js"></script>
    <script src="js/contact-form-script.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>