<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>Set</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="static/css/all.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Start Main Top -->
    <div th:replace="~{fragments::main-top}">
    </div>
    <!-- End Main Top -->

    <!-- Start Main Top -->
    <header th:replace="~{fragments::main-header}">
        <!-- Start Navigation -->
        <!-- End Navigation -->
    </header>
    <!-- End Main Top -->

    <!-- Start Top Search -->
    <div class="top-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <!-- End Top Search -->

    <!-- Start Slider -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Set</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="home.html">Home</a></li>
                        <li class="breadcrumb-item active"> Menu </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Slider -->

    <!-- Start Products  -->
            <!-- Fish -->
    <!-- Products -->
    <div class="products-box">
        <div class="container" th:each="category : ${categories}">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1 th:text="${category.name}">Fish</h1>
                        <p>Have you a really good meal!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="special-menu text-center">
                        <div class="button-group filter-button-group">
                            <button class="active" data-filter="*">All</button>
                            <button data-filter=".best-seller">Best seller</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row special-list">
                <!--<div class="col-lg-3 col-md-6 special-grid best-seller" >
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="" alt="Image">
                            <div class="mask-icon">
                                <ul>
                                    <li><a href="product-detail.html" data-toggle="tooltip" data-placement="right"
                                           title="View"><i class="fas fa-eye"></i></a></li>
                                </ul>
                                <a class="cart" href="#">Add to Cart</a>
                            </div>
                        </div>
                        <div class="why-text">
                            <h4 ></h4>
                            <h5 > </h5>
                        </div>
                    </div>
                </div>-->
                <div class="col-lg-3 col-md-6 special-grid" th:each="product : ${products}"
                     th:if="${product.category.name == category.name} ">
                    <form th:action="@{/add-to-cart}" method="post" >
                        <div class="products-single fix">
                            <div class="box-img-hover">
                                <img th:src="@{'data:image/jpeg;base64,' + ${product.image}}" class="img-fluid" alt="Image">
                                <div class="mask-icon">
                                    <ul>
                                        <li><a th:href="@{/find-product/{id}(id = ${product.id})}" data-toggle="tooltip"
                                               data-placement="right"
                                               title="View"><i class="fas fa-eye"></i></a></li>
                                    </ul>
                                    <input type="hidden" th:value="${product.id}" name="id">
                                    <input type="submit" class="cart" value="Add to Cart">
                                </div>
                            </div>
                            <div class="why-text">
                                <h4 th:text="${product.name}"></h4>
                                <h5 th:text="'$' + ${product.costPrice}"> $36.00</h5>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Products  -->


    <!-- Start Feed  -->
    <div class="instagram-box">
        <div class="main-instagram owl-carousel owl-theme">
            <div class="item">
                <div class="ins-inner-box">
                    <a href="index.html"><img src="images/partner1.jpg" alt="" /></a>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/partner4.jpg" alt="" />
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <a href="index.html"><img src="images/partner2.jpg" alt="" /></a>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <a href="index.html"><img src="images/partner3.jpg" alt="" /></a>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <a href="index.html"><img src="images/partner5.jpg" alt="" /></a>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <a href="index.html"><img src="images/partner6.jpg" alt="" /></a>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <a href="index.html"><img src="images/partner1.jpg" alt="" /></a>
                </div>
            </div>
        </div>
    </div>

    <!-- End Feed  -->


    <!-- Start Footer  -->
    <footer>
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-top-box">
                            <h3>Business Time</h3>
                            <ul class="list-time">
                                <li>Monday - Saturday: 08.00am to 09.00pm</li>
                                <li>www.adcvietnam.com</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-top-box">
                            <h3>Contact Us</h3>
                            <ul class="list-time">
                                <li><i class="fas fa-phone-square"></i> Phone
                                    number: (024).3783.5639</li>
                                <li><i class="fas fa-envelope"></i> Email:
                                    leskin123@gmail.com</li>
                                <li><i class="fas fa-map-marker-alt"></i>
                                    Address: 58 Tố Hữu, Thanh Xuân, Hà Nội</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-top-box">
                            <h3>Social Media</h3>
                            <p>Come with Leskin shop </p>
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="text-align: center;" class="bots">
            <p>© 2019 Leskin. All rights reserved.</p>
        </div>
    </footer>

    <!-- ALL JS FILES -->
    <div th:replace="~{fragments::script}"></div>
</body>

</html>